.%h1 Show vue
- unless @succeeded_subscriptions.empty?
  %h2 Liste des objectifs accomplis
  %ul.list-achievements-user
    - @succeeded_subscriptions.each do |subscription|
      %li
        = subscription.id
        = image_tag subscription.achievement.badge.url

- unless @not_succeeded_subscriptions.empty?
  %h2 Liste des objectifs en cours
  %ul.list-achievements-user
    - @not_succeeded_subscriptions.each do |subscription|
      %li
        = subscription.id
        = image_tag subscription.achievement.badge.url
        - unless subscription.votes.find_by_user_id(@fake_current_user.id)
          = link_to 'Voter', votes_path( { vote: { user_id: @fake_current_user.id, subscription_id: @subscription.id } } ), method: :create
