%a.btn.btn-navbar{'data-toggle' => 'collapse', 'data-target' => '.nav-collapse'}
  %span.icon-bar
  %span.icon-bar
  %span.icon-bar

-# Be sure to leave the brand out there if you want it shown
= link_to 'Le Projet Agile', root_path, :class => 'brand'

-# Everything you want hidden at 940px or less, place within here
.nav-collapse.collapse
  %ul.nav
    %li= link_to 'Liste des objectifs', achievements_path
    %li= link_to "Création d'un nouvel objectif", new_achievement_path
    %li= link_to 'Voir le dernier objectif', achievement_path(Achievement.last) if Achievement.last
    %li= link_to 'Voir le profil du dernier utilisateur', user_path(User.last) if User.last
  %ul.nav
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        Account
        %b.caret
      %ul.dropdown-menu
        %li
        - if user_signed_in?
          %li= link_to('Editer mon compte', edit_user_registration_path)
          %li= link_to('Déconnexion', destroy_user_session_path, :method => :delete)
        - else
          %li= link_to('Connexion', new_user_session_path)
          %li= link_to('Inscription', new_user_registration_path)