!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title Le Projet Agile
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h1 Le Projet Agile
    #navbar
      %p Liste des nouveaux developpements :
      %ul
        %li= link_to 'Liste des objectifs', achievements_path
        %li= link_to "Création d'un nouvel objectif", new_achievement_path
        %li= link_to 'Voir le dernier objectif', achievement_path(Achievement.last) if Achievement.last
        %li= link_to "Voir le profil du dernier utilisateur", user_path(User.last) if User.last
    #container
      = yield